table{
    width: 80% !important;
    margin: 0 auto;
}
thead th:nth-child(1),
thead th:nth-child(2) {
    background-color: #ffff00;
}

thead th:nth-child(3),
thead th:nth-child(4) {
    background-color: #00ff00;
}

.button-table {
    width: 20%;
    background: #ec5990 !important;
    color: white;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px !important;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
}